html {
  background-color: beige;
  font-size: 20px;
}
article {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(48, 35, 25);
  max-width: auto;
  margin: 2px auto;
  background-color: rgba(248, 186, 51, 0.753);
  border: 1px solid rgba(75, 43, 2, 0.425);
  padding: 20px 20px 20px 20px;
  text-align: center;
}

main {
  padding-top: 10px;
  padding-bottom: 10px;
}
h1 {
  font-size: 29px;
  font-family: "Inconsolata", monospace;
  color: rgb(0, 0, 0);
  font-weight: normal;
  padding-top: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
}

p {
  max-width: 950px;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 15px;
}

a {
  color: rgb(7, 7, 167);
  text-decoration: none;
}

a:hover.contact {
  color: rgb(112, 0, 218);
  text-decoration: underline;
}
a:visited.contact {
  color: rgba(95, 22, 91, 0.815);
}

header {
  padding: 20px;
  background-color: rgb(245, 219, 148);
  border: 1px solid rgb(173, 144, 86);
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}
ul {
  list-style-type: none;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
nav span {
  -ms-word-break: break-all;
  word-break: break-all;
}
span.navitem {
  font-size: 18px;
  margin: 2px 15px;
  font-family: "Inconsolata", monospace;
}
span.navitemHome {
  font-size: 17px;
  margin: 2px 15px;
  font-family: "Inconsolata", monospace;
}
a.homeanchor {
  text-decoration: none;
  color: green;
}
a.articlesnav {
  text-decoration: none;
  color: black;
}
footer {
  padding: 20px;
  background-color: rgba(247, 187, 56, 0.445);
  border: 1px solid rgba(75, 43, 2, 0.425);
  font-family: "Inconsolata", monospace;
  font-size: 18px;
}
a.copyright {
  color: red;
  text-decoration: none;
}
