html {
  background-color: rgba(253, 244, 220, 0.986);
}
body {
  font-family: "Montserrat", sans-serif;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(248, 206, 90);
  padding: 0 5px 5px 5px;
  border: 1px solid black;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  width: 700px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: justify;
}
